*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:airbnb-c; 
    src: url(../fonts/AirbnbCereal_W_Bk.otf);
}
@font-face {
    font-family: eksell-c;
    src: url(../fonts/Eksell-Display-TRIAL-Medium.ttf);
}

:root{
--mainColor:#3685FB;
--darkColor:#000000;
--greyColor:#344051;
--sectionColor:#F5F5F5;
--whiteColor:#FFFFFF;
}

 html{
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--sectionColor);
    }

    header{
        /*max-width: 1440px;*/
       background-color:var(--whiteColor) ;
       width: 100%;
    }

    nav{

        display: flex;
        justify-content: flex-start;
        /*margin: auto;*/
        width: 100%;
    }
    
    main {
    width: 100%;
    height: 100%;
    
    }
    
    section {
    width: 100%;
    height: 100%;
   
    }
    
    .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
   
    
    }
/*
body{
    height: 100%;
    width: 100%;
    font-family:airbnb-c;
    
}
main {
    max-width: 1440px;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    max-width: 1440px;
    padding: 0px 240px;
}*/

.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    max-width: 1440px;
    padding: 0px 240px;
    
}


/*.navigation-container{
    display: flex;
    flex-direction: row;
}*/

.navigation{
    font-size: 16px;
    font-family:airbnb-c;
    line-height: 112%;
    text-decoration: none;
    /*margin: 0 150px;*/
    color: var(--darkColor);
    margin: 0 30px;
    

}
.navigation:hover{
    color: var(--mainColor);
}

.button-header{
   background-color: var(--mainColor); 
   color: var(--whiteColor);
   border: none;
   /*border-radius: 10%;*/
   font-size: 16;
   font-weight: 500;
   width:70px ;
   height:40px;


}
.section{
    display: flex;
}
.main{
    display: flex;
    padding: 0px 240px;
    background-color: var(--sectionColor);
    justify-content: space-between;
    flex-basis: 40%;
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 494px;
    align-items: center;
    margin:113px 0px;
    
    
   
}
.left-container-h1{
    margin: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    
}
.left-container-span{
   font-size: 24px;
    
}

.left-card{
    width: 380px;
    height: 96px;
    background-color: var(--whiteColor);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    
    
}


.img-qr,.img-package{
    width: 64px;
    height: 64px;
    margin: auto;
}
.left-card-span{
    margin: auto;
    font-size: 16px;
    padding-right: 10px;
    
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 494px;
    background-color: #ffffff;
    margin:113px 0px;
    justify-content: space-around;
}
.right-container-h2{
    margin-top:32px;
    margin-left: 72px;
    margin-right: 72px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.form{
    margin: 0px 72px;
}


.form-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
label {
    font-size: 14px;
    font-weight: medium;
    color: var(--greyColor);
}

.city-select,.city-select-send,.select-size{
    width:356px ;
    height:30px;
}

.input-label{
    display: flex;
    gap: 10px;
    padding: 3px 0px;
}

.container-span{
    display: flex;
    flex-direction: row;
    
}
.city-span{
    margin:0 5px ;
    font-size: 14px;
    text-decoration: underline;
    color: var(--greyColor);
}

.city-span:hover{
    color: var(--mainColor);
}

.calculate-form-button{
    background-color: var(--mainColor); 
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    width:356px ;
    height:56px;
    border-radius: 16px;
    margin-top: -25px;
 
 }

 .button-approximate.none{
    display: none;
 }

 .button-exact.none{
    display: none;
 }

 .select-approximate.none{
    display: none;
 }

 .container-input-exact.none{
    display: none;
 }


 .toggle-switch {
    display: inline-flex;
    background: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
    width: 185px;
    height: 44px;
    }
    
    .toggle-switch input {
    display: none;
    }
    
    .toggle-switch label {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
    }
    
    .toggle-switch input:checked + label {
    background: #007bff;
    color: white;
    }

    .container-toggle-switch{
        display: flex;
        flex-direction: column;
    }

    span{
        font-size: 14px;
        margin-left: 14px;
        padding-bottom: 10px;
    }