*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:airbnb-c; 
    src: url(../fonts/AirbnbCereal_W_Bk.otf);
}
@font-face {
    font-family: eksell-c;
    src: url(../fonts/Eksell-Display-TRIAL-Medium.ttf);
}

:root{
    --mainColor:#3685FB;
    --darkColor:#000000;
    --greyColor:#344051;
    --sectionColor:#F5F5F5;
    --whiteColor:#FFFFFF;
    --bordColor:#E3E5E5;
    }


    html{
        height: 100%;
        width: 100%;
    }

    header{
        background-color: var(--whiteColor);
    }
    
    body {
        height: 100vh;
        width: 100vw;
        background-color: var(--sectionColor);
        }
    

    
    section {
    width: 100%;
    height: 100%;

    }
    
    main {
    width: 100%;
    height: 100%;
    background-color: var(--sectionColor);
    }

    .main-container{
        display: flex;
        flex-direction: column;
        padding-left: 240px;
    }
    
    .none{
        display: none;
    }
   

/*
body{
    height: 100%;
    width: 100%;
    font-family:airbnb-c;
    
}
main {
    max-width: 1440px;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    max-width: 1440px;
    padding: 0px 240px;
}*/


.navigation{
    font-size: 16px;
    font-family:airbnb-c;
    line-height: 112%;
    text-decoration: none;
    margin: 0 150px;
    color: var(--darkColor);

}
.navigation:hover{
    color: var(--mainColor);
}

.button-header{
   background-color: var(--mainColor); 
   color: #ffffff;
   border: none;
   /*border-radius: 10%;*/
   font-size: 16;
   font-weight: 500;
   width:70px ;
   height:40px;


}



.progress-container-span{
    padding-top: 24px;
    padding-bottom: 24px;
}
.progress-container {
    width: 464px;
    height: 4px;
    background-color: #CED2DA;
    border-radius: 5px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    width: 24%; /* Начальная ширина */
    transition: width 0.5s ease; /* Плавный переход */
  }

  .form-item{
    display: flex;
    flex-direction: column;
  }


  form{
    display: flex;
    padding-top:24px ;
    flex-direction: column;
  }
  input{
    width: 48%;
  }

  .button-container{
    display: flex;
    flex-direction: row;
  }


  section{
    display: flex;
    flex-direction: column;
}

.step7-list{
    padding-top: 15px;
    column-gap: 24px;
    grid-row: 24px;
}

.step7-item{
    list-style-type:none;
    row-gap: 24px;
    
}

.step7-card{
    display: flex;
    flex-direction: row;
    gap: 60px;
    /*background-color:#F0F6FF;*/
    background-color: aqua;
    /*border: #3685FB;*/
    max-height: 90px;
    height: 90px;
    max-width: 960px;
    width: 960px;
}

.item1{
    background-color: #3685FB;
    max-width: 200px;
    max-height: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 48px;
}

.item3,.item2{
    background-color: #3685FB;
    max-width: 284px;
    max-height: 42px;
    padding-top: 24px;
    padding-left: 48px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    
}