* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: airbnb-c;
  src: url(../fonts/AirbnbCereal_W_Bk.otf);
}
@font-face {
  font-family: eksell-c;
  src: url(../fonts/Eksell-Display-TRIAL-Medium.ttf);
}

:root {
  --mainColor: #3685fb;
  --darkColor: #000000;
  --greyColor: #344051;
  --sectionColor: #f5f5f5;
  --whiteColor: #ffffff;
  --bordColor: #e3e5e5;
  --labelColor: #141c24;
  --inputColor: #ced2da;
}

html {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  background-color: var(--whiteColor);
  width: 100%;
  max-width: 1000px;
  margin: auto;
  align-items: center;
}

nav {
  display: flex;
  margin: 0 15px;
}

nav ul {
  display: flex;
  list-style: none; /* Убираем стандартные маркеры списка */

  margin: auto;
  width: 100%;
}

nav ul li {
  display: flex;
}

body {
  height: 100vh;
  width: 100vw;
}

section {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 60px 0px;
  background-color: var(--whiteColor);
  margin: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 240px;*/

  justify-content: center;
}

.none {
  display: none;
}

.form-step.none {
  display: none;
}

.color-error {
  color: red;
}

/*
body{
    height: 100%;
    width: 100%;
    font-family:airbnb-c;
    
}
main {
    max-width: 1440px;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    max-width: 1440px;
    padding: 0px 240px;
}*/

.navigation {
  font-size: 16px;
  font-family: airbnb-c;
  line-height: 112%;
  text-decoration: none;
  padding: 20px 30px;
  color: var(--darkColor);
  border: 1px solid transparent;
}
.navigation:hover {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  box-sizing: border-box;
}

.button-header {
  background-color: var(--mainColor);
  color: #ffffff;
  border: none;
  /*border-radius: 10%;*/
  font-size: 16px;
  font-weight: 500;
  width: 70px;
  height: 40px;
  margin-left: auto;
}

.logo {
  padding: 0px 0px;
}

/*.progress-container-span {
  padding-top: 24px;
  padding-bottom: 24px;
}*/
.progress-container {
  width: 464px;
  height: 4px;
  background-color: #ced2da;
  border-radius: 5px;
}

.progress-bar-step2 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 28%; /* Начальная ширина */
  transition: width 0.5s ease; /* Плавный переход */
}

.progress-bar-step3 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 42%; /* Начальная ширина */
  transition: width 0.5s ease; /* Плавный переход */
}

.progress-bar-step4 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 56%; /* Начальная ширина */
  transition: width 0.5s ease; /* Плавный переход */
}

.progress-bar-step5 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 70%; /* Начальная ширина */
  transition: width 0.5s ease; /* Плавный переход */
}

.progress-bar-step6 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 84%; /* Начальная ширина */
  transition: width 0.5s ease; /* Плавный переход */
}

.progress-bar-step7 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 100%; /* Начальная ширина */
  transition: width 0.5s ease; /* Плавный переход */
}

.form-step-2,
.form-step-3,
.form-step-4,
.form-step-5,
.form-step-6,
.form-step-7 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-step-2.none,
.form-step-3.none,
.form-step-4.none,
.form-step-5.none,
.form-step-6.none,
.form-step-7.none {
  display: none;
}

.form-item {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

form {
  display: flex;
  padding-top: 24px;
  flex-direction: column;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
input {
  width: 48%;
  padding: 12px 8px 12px 12px;
  max-width: 464px;
  max-height: 48px;
  border-radius: 8px;
  border: 1px solid #ced2da;
  margin-top: 6px;
}
.input-label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--labelColor);
}

.input-checkbox-recipient {
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 0px;
  /*display: flex;
  flex-direction: row;*/
}

.input-label-checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-item.input-checkbox-recipient {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  /*border: 1px solid red;*/
}

.input-checkbox-recipient-span {
  align-items: center;
}

input:focus {
  outline: none;

  border: 1px solid var(--mainColor);
}

.button-container-recipient,
.button-container-sender,
.button-container-send,
.button-container-get {
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 464px;
}

.button-back-recipient,
.button-forward-recipient,
.button-back-sender,
.button-forward-sender,
.button-back-send,
.button-forward-send,
.button-back-get,
.button-forward-get {
  max-width: 220px;
  max-height: 56px;
  width: 40%;
  padding: 16px 32px;
  border-radius: 16px;
  border-color: transparent;
}

.button-forward-recipient,
.button-forward-sender,
.button-forward-send,
.button-forward-get {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

.button-back-recipient:hover,
.button-forward-recipient:hover,
.button-back-sender:hover,
.button-forward-sender:hover,
.button-back-send:hover,
.button-forward-send:hover,
.button-back-get:hover,
.button-forward-get:hover {
  background-color: var(--mainColor);
  opacity: 0.5;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
}

.step7-list {
  padding-top: 15px;

  & > li {
    margin: 30px 0;
  }

  & > li:first-of-type {
    margin: 0 0 30px 0;
  }

  & > li:last-of-type {
    margin: 30px 0 0 0;
  }
}

.step7-item {
  list-style-type: none;
  row-gap: 24px;
  background-color: var(--sectionColor);
  border-radius: 35px;
  padding: 20px 40px;
}

.step7-card {
  display: grid;
  gap: 5px;
  grid-template-columns: 25% 45% 25% 5%;
}

/*.item1{
    
    /*max-width: 200px;
    max-height: 40px;*/
/*padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 48px; так не надо!!
}*/

.info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
